.title {
    margin: 5px;
}

.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.name {
    color: #00a36f;
    text-decoration: none;
}

.pagination {
    margin: 0 auto;
}

.pagination span {
    font-size: 2em;
    margin-right: 10px;
}

.page-number {
    color: #d64161;
    padding: 5px;
    text-decoration: none;
}

.current-page-number {
    color: #666
}
